/* Layout */
body {
  background-color: #2A123D;
}
header {
  height: 72px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  position: fixed;
  display: block;
  width: 100%;
}
header .col, header .col-3 {
  padding-top: 15px;
}
header .col-3 a {
  padding-top: 10px;
  display: block;
  text-align: right;
}
main .intro {
  color: #ffffff;
  background: url('../png/top-image.png') center bottom;
  padding: 140px 100px 50px 100px;
}
main .intro h1 {
  line-height: 1.5em;
  margin-bottom: 2em;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.05em;
  text-align: center;
}
.circles {
  margin: 0 1em 0 1em;
}
.oval {
  width: 140px;
  height: 140px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border: solid 4px #ffffff;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
  text-transform: uppercase;
  border-radius: 70px;
  color: #C347B4;
  text-size: 1.5em;
}
.line {
  display: block;
  height: 2px;
  opacity: 0.5;
  border-bottom: dashed 3px #ffffff;
  margin-top: 70px;
}
.padding-0 {
    padding: 0;
    margin: 0;
}

/* Typo */
h1, h2 {
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  text-align: center;
}
