/* Layout */
body {
  background-color: #2A123D;
  width: 100%;
}
#logo {
  width: 75px;
  height: 36px;
}
header {
  height: 72px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  position: fixed;
  display: block;
  width: 100%;
  z-index: 1000;
}
header .contact {
  padding-top: 20px;
  display: block;
  text-align: right;
  text-size: 14px;
}
header .col, header .col-3 {
  padding-top: 15px;
}
.intro {
  color: #ffffff;
  background: url('../png/top-image.png') center bottom;
  padding: 100px 10px 50px 10px;
}
.intro h1 {
  font-size: 2em;
  line-height: 1.5em;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.05em;
  text-align: center;
}
.intro .oval {
  width: 80px;
  height: 80px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border: solid 4px #ffffff;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
  text-transform: uppercase;
  border-radius: 40px;
  font-size: 10px;
  color: #C347B4;
  text-size: 1.5em;
}
.line {
  display: block;
  height: 2px;
  opacity: 0.5;
  border-bottom: dashed 3px #ffffff;
  margin-top: 40px;
}
.padding-0 {
  padding: 0;
  margin: 0;
}
em {
  font-size: 0.85em;
}

.idea {
  text-align: center;
}
.idea .container {
  padding: 3em;
  background: white;
}
.idea figure {
  width: 64px;
  margin: 0 auto;
}
.idea figcaption {
  font-family: 'Anton', sans-serif;
  font-size: 1.5em;
  color: #C347B4;
  padding-top: 15px;
}
.idea .figs {
  margin-bottom: 2em;
}
.idea img {
  margin-top: 1em;
}
.idea h3 {
  font-size: 1em;
}
.idea .oval {
  height: 64px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border: solid 2px #2a0e3f;
  border-radius: 32px;
}

.investor {
  color: white;
  padding: 2em 10px;
  text-align: center;
}
.investor p {
  width: 100%;
  text-align: center;
}
.investor .pillars {
  margin: 1em 0;
}
.investor .pillars figure {
  padding: 15px 10px;
  border: dashed 2px white;
  height: 170px;
}

.innovator {
  color: white;
  background: url('../png/bottom-image.png') center bottom;
  padding: 2em 0;
  text-align: center;
}
.innovator h2 {
  margin: 1em auto;
}

footer {
  color: white;
  margin: 2em 0;
}
footer address {
  font-style: italic;
}
footer ul {
  display: block;
  margin: 0;
  padding: 0;
}
footer li {
  display: inline;
  margin: 0 5px;
}
footer li a:hover {
  text-decoration: none;
}

/* Typo */
h1, h2 {
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  text-align: center;
}
.btn {
  background: #C347B4;
  color: white;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 14px;
}
.btn:hover {
  background: #F357C4;
}
.cta p {
  display: block;
  text-align: center;
  margin: 0.5em auto;
}

a:link {
  color: #C347B4;
}
a:hover {
  color: #F357C4;
}

/* For tablets: */
@media only screen and (min-width: 600px) {
  #logo {
    width: 100px;
    height: 48px;
  }
  .intro {
    padding: 140px 100px 50px 100px;
  }
  .intro h1 {
    line-height: 1.5em;
    margin-bottom: 2em;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.05em;
    text-align: center;
  }
  .intro .oval {
    width: 140px;
    height: 140px;
    border-radius: 70px;
    font-size: 1em;
  }
  .descr {
    margin: 1em auto;
    width: 70%;
    text-align: center;
  }
  .descr p {
    width: 100%;
  }
  .intro {
    padding: 140px 100px 50px 100px;
  }
  .circles {
    margin: 0 1em 0 1em;
  }
  .idea {
    margin: 2em auto 0 auto;
  }
  .investor {
    padding: 3em;
  }
  .line {
    display: block;
    height: 2px;
    opacity: 0.5;
    border-bottom: dashed 3px #ffffff;
    margin-top: 70px;
  }
  .cta {
    text-align: center;
  }
  .cta p {
    display: block;
    width: 60%;
    margin: 0.5em auto;
  }
  footer .row {
    width: 70%;
    margin: 0 auto;
  }
  .btn {
    font-size: 1em;
  }
}
/* For desktop: */
@media only screen and (min-width: 768px) {

}
