/* Layout */
body {
  background-color: #2A123D;
}
header {
  height: 72px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  position: fixed;
  display: block;
  width: 100%;
  z-index: 1000;
}
header .col, header .col-3 {
  padding-top: 15px;
}
header .col-3 a {
  padding-top: 10px;
  display: block;
  text-align: right;
}
main .intro {
  color: #ffffff;
  background: url('../png/top-image.png') center bottom;
  padding: 140px 100px 50px 100px;
}
main .intro h1 {
  line-height: 1.5em;
  margin-bottom: 2em;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.05em;
  text-align: center;
}
.circles {
  margin: 0 1em 0 1em;
}
.oval {
  width: 140px;
  height: 140px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border: solid 4px #ffffff;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
  text-transform: uppercase;
  border-radius: 70px;
  color: #C347B4;
  text-size: 1.5em;
}
.line {
  display: block;
  height: 2px;
  opacity: 0.5;
  border-bottom: dashed 3px #ffffff;
  margin-top: 70px;
}
.padding-0 {
    padding: 0;
    margin: 0;
}
em {
  font-size: 0.85em;
}

.cta {
  text-align: center;
}
.cta p {
  display: block;
  width: 60%;
  margin: 0.5em auto;
}

.idea {
  margin: 4em auto 0 auto;
  width: 70%;
  background: white;
  padding: 3em;
  text-align: center;
}
.descr {
  margin: 1em auto;
  width: 70%;
  text-align: center;
}
.descr p {
  width: 100%;
}
.idea figure {
  width: 64px;
  margin: 0 auto;
}
.idea figcaption {
  font-family: 'Anton', sans-serif;
  font-size: 1.5em;
}
.idea .figs {
  margin-bottom: 2em;
}
.idea img {
  margin-top: 1em;
}
.idea h3 {
  font-size: 1em;
}
.idea .oval {
  height: 64px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border: solid 2px #2a0e3f;
  border-radius: 32px;
}

.investor {
  color: white;
  margin: 0 auto;
  width: 70%;
  padding: 3em;
  text-align: center;
}
.investor .pillars {
  margin: 1em 0;
}
.investor .pillars figure {
  padding: 15px 10px;
  border: dashed 2px white;
  height: 170px;
}

.innovator {
  color: white;
  background: url('../png/bottom-image.png') center bottom;
  padding: 2em 0;
  text-align: center;
}
.innovator h2 {
  width: 50%;
  margin: 1em auto;
}

footer {
  color: white;
  margin: 2em 0;
}
footer .row {
  width: 70%;
  margin: 0 auto;
}
footer address {
  font-style: italic;
}
footer ul {
  display: block;
  margin: 0;
  padding: 0;
}
footer li {
  display: inline;
  margin: 0 5px;
}
footer li a:hover {
  text-decoration: none;
}

/* Typo */
h1, h2 {
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  text-align: center;
}
.btn {
  background: #C347B4;
  color: white;
  padding: 10px 15px;
  font-size: 1em;
  text-transform: uppercase;
}
.btn:hover {
  background: #F357C4;
}

a:link {
  color: #C347B4;
}
a:hover {
  color: #F357C4;
}

/* For tablets: */
@media only screen and (min-width: 600px) {

}
/* For desktop: */
@media only screen and (min-width: 768px) {

}
